<div class="container">
  <div class="row">
    <div class="offset-lg-2 col-lg-8">
      <%= render partial: 'leader' %>
      <h2><%= t :form_complete_thanks %></h2>
      <p><%= (t('form_complete_info')[0] % { email: @guest.email }).html_safe %></p>
      <p><%= (t('form_complete_info')[1] % { contact_link: mail_to(ENV['CONTACT_EMAIL'], t('form_contactus')) }).html_safe %></p>
      <p><%= t('form_complete_info')[2] %></p>
      <p><%= link_to t('form_complete_home'), root_path %></p>
    </div>
  </div>
</div>
