<div class="container">
  <div class="row">
    <div class="offset-lg-2 col-lg-8">
      <%= render partial: 'leader' %>
      <h2><%= t :form_new_exists %></h2>
      <p><%= t('form_new_exists_info')[0] %></p>
      <p><%= (t('form_new_exists_info')[1] % { email: @guest.email }).html_safe %></p>
      <p><%= (t('form_new_exists_info')[2] % { contact_link: mail_to(ENV['CONTACT_EMAIL'], t('form_contactus')) }).html_safe %></p>
    </div>
  </div>
</div>
