<p><%= @guest.email_safe_salutation %></p>

<% if @guest.attending %>
<%= t(:email_confirm_attending_opening).html_safe %>
<address><%= render partial: 'application/wedding_address' %></address>

<%= t(:email_confirm_attending_modify).html_safe %>
<p><%= link_to guest_url(@guest), guest_url(@guest) %></p>
<p><%= (t('email_confirm_attending_questions') % { website: link_to(t('email_confirm_attending_questions_website'), root_url) }).html_safe %></p>
<% else %>
<p><%= t :email_confirm_notattending_opening %></p>
<p><%= link_to guest_url(@guest), guest_url(@guest) %></p>
<p><%= t :email_confirm_notattending_opening %></p>
<% end %>

<p>&nbsp;</p>
<p><%= t :wedding_couple_names %></p>
