<p><%= @guest.email_safe_salutation %></p>

<p><%= t :email_return_opening %> <%= ENV['CANONICAL_HOST'] %>.</p>

<p><%= t :email_return_modify %></p>
<p><%= link_to guest_url(@guest), guest_url(@guest) %></p>

<p><%= t :email_return_closing %></p>

<p>&nbsp;</p>
<p><%= t :wedding_couple_names %></p>
