<section id="welcome-index-venue-leader" class="jumbotron text-center">
  <div class="container">
    <h1><%= t :the_venue %></h1>
  </div>
</section>
<section id="welcome-index-venue">
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <h2><%= t :the_venue_q_arrival %></h2>
        <%= t(:the_venue_a_arrival).html_safe %>
        <h2><%= t :the_venue_q_accomodation %></h2>
        <%= t(:the_venue_a_accomodation).html_safe %>
      </div>
    </div>
  </div>
</section>
