<div class="container">
  <div class="row">
    <div class="offset-lg-2 col-lg-8">
      <%= render partial: 'guests/leader' %>
      <%= render partial: 'guests/rsvp_nav', locals: { active: 2 } %>

      <h2><%= t :guest_plusones %></h2>
      <p><%= t :form_plusones_info %></p>
      <p>&nbsp;</p>

      <% if @plus_ones.any? %>
        <%= render @plus_ones %>
      <% else %>
        <p><%= t :form_plusones_none %></p>
      <% end %>
      <p>
        <%= link_to t('form_add_plusone'), new_guest_plus_one_path(@guest), class: 'btn btn-primary', data: { disable_with: t('form_loading') } %>
      </p>

      <p>&nbsp;</p>
      <p class="guests-buttons">
        <%= link_to t('form_continue'), confirm_guest_path(@guest), class: 'btn btn-primary' %>
      </p>
    </div>
  </div>
</div>
